[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Prévisualiser la pièce jointe TP LINUX GESTION DES UTILISATEURS ET DES GROUPES.odt [OpenOffice Writer] 16 KB
Type=Link
URL=https://mail.google.com/mail/u/0?ui=2&ik=cd7790695b&attid=0.4&permmsgid=msg-a:r-7312902524328348052&th=1759d8ada2744ac8&view=att&disp=safe&realattid=f_kh68nip43
Icon=text-html
